@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

.main-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.main-ctn .product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20px + 1vw);
}
.main-ctn .product .product-img-ctn {
  flex: 0.6;
  aspect-ratio: 600/360;
}
.main-ctn .product .product-img-ctn img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  object-position: center;
}
.main-ctn .product .product-info {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  gap: calc(16px + 0.3vw);
}
.main-ctn .product .product-info .product-name {
  font-size: calc(20px + 0.4vw);
  font-weight: 600;
  margin-bottom: calc(20px + 0.2vw);
}
.main-ctn .product .product-info .product-price {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: calc(20px + 0.2vw);
}
.main-ctn .product .product-info .product-price .price,
.main-ctn .product .product-info .product-price .new-price {
  font-size: calc(16px + 0.2vw);
  font-weight: 580;
}
.main-ctn .product .product-info .product-price .previous-price {
  text-decoration: line-through;
  font-weight: 370;
  font-size: calc(15px + 0.2vw);
}
.main-ctn .product .product-info .colors,
.main-ctn .product .product-info .sizes {
  display: flex;
  flex-direction: column;
  gap: calc(12px + 0.2vw);
}
.main-ctn .product .product-info .colors .color-list,
.main-ctn .product .product-info .colors .size-list,
.main-ctn .product .product-info .sizes .color-list,
.main-ctn .product .product-info .sizes .size-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(12px + 0.2vw);
}
.main-ctn .product .product-info .colors .color-list .color,
.main-ctn .product .product-info .colors .color-list .size,
.main-ctn .product .product-info .colors .size-list .color,
.main-ctn .product .product-info .colors .size-list .size,
.main-ctn .product .product-info .sizes .color-list .color,
.main-ctn .product .product-info .sizes .color-list .size,
.main-ctn .product .product-info .sizes .size-list .color,
.main-ctn .product .product-info .sizes .size-list .size {
  border: #0F0F0F solid 2px;
  border-radius: calc(5px + 0.2vw);
  font-size: calc(15px + 0.2vw);
  font-weight: 450;
  text-align: center;
}
.main-ctn .product .product-info .colors .color-list .size,
.main-ctn .product .product-info .colors .size-list .size,
.main-ctn .product .product-info .sizes .color-list .size,
.main-ctn .product .product-info .sizes .size-list .size {
  width: calc(30px + 1.5vw);
  padding: calc(6px + 0.2vw) 0;
}
.main-ctn .product .product-info .colors .color-list .color,
.main-ctn .product .product-info .colors .size-list .color,
.main-ctn .product .product-info .sizes .color-list .color,
.main-ctn .product .product-info .sizes .size-list .color {
  padding: calc(6px + 0.2vw) calc(10px + 0.4vw);
  min-width: calc(40px + 2.5vw);
}
.main-ctn .product .product-info .label {
  font-size: calc(16px + 0.3vw);
  font-weight: 600;
}
.main-ctn .product .product-info .txt {
  font-size: calc(14px + 0.3vw);
  font-weight: 450;
}
.main-ctn .product .product-info .available {
  color: #09A722;
}
.main-ctn .product .product-info .unavailable {
  color: #A70922;
}
.main-ctn .product .product-info .reduction .reduction-ctn {
  font-size: calc(16px + 0.3vw);
  font-weight: 600;
  color: #09A722;
}
.main-ctn .product .product-info .return-btn {
  width: 60%;
  margin: calc(6px + 0.3vw) auto;
  padding: calc(5px + 0.3vw) 0;
  cursor: pointer;
  text-align: center;
  font-size: calc(16px + 0.3vw);
  font-weight: 580;
  border-radius: calc(5px + 0.2vw);
  background-color: #A70922;
  color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px, rgba(0, 0, 0, 0.23) 0 4px 4px;
}
@media screen and (max-width: 765px) {
  .main-ctn {
    padding: 5rem 0;
  }
  .main-ctn .product {
    width: 80%;
    flex-direction: column;
  }
  .main-ctn .product .product-img-ctn img {
    object-position: bottom center;
  }
}

.main {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.main .main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main .btn-to-products {
  position: absolute;
  bottom: calc(20px + 1.8vw);
  left: 50%;
  transform: translateX(-50%);
  padding: calc(15px + 0.5vw) calc(24px + 0.8vw);
  width: max-content;
  border-radius: 12px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: calc(24px + 0.8vw);
  color: #0F0F0F;
  background-color: #F0C900;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px, rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.products-list {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.5rem 1.5rem;
  margin-bottom: 7rem;
  background-color: #FFFFFF;
}
.products-list .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 22%, 450px);
  padding: 10px;
  aspect-ratio: 3/4;
  gap: calc(5px + 0.2vw);
  border-radius: calc(2px + 0.2vw);
  overflow: hidden;
}
@media screen and (max-width: 765px) {
  .products-list .product {
    width: min(70%, 310px);
  }
}
@media screen and (max-width: 450px) {
  .products-list .product {
    width: 85%;
  }
}
.products-list .product .product-img-ctn {
  position: relative;
  width: 80%;
  aspect-ratio: 1/1;
}
.products-list .product .product-img-ctn .product-img,
.products-list .product .product-img-ctn .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.products-list .product .product-img-ctn .reduction {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(12px + 0.2vw);
  left: calc(12px + 0.2vw);
  aspect-ratio: 1/1;
  width: calc(30px + 1.3vw);
  background-color: #F0C900;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}
.products-list .product .product-img-ctn .reduction .reduction-ctn {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: calc(10px + 0.4vw);
  font-weight: 650;
  transform: rotate(-15deg);
  color: #09A722;
}
.products-list .product .product-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  gap: 0.5rem;
}
.products-list .product .product-info .product-name {
  font-size: calc(16px + 0.2vw);
  font-weight: 500;
}
.products-list .product .product-info .product-price {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.products-list .product .product-info .product-price .price,
.products-list .product .product-info .product-price .new-price {
  font-size: calc(16px + 0.2vw);
  font-weight: 580;
}
.products-list .product .product-info .product-price .previous-price {
  text-decoration: line-through;
  font-weight: 370;
  font-size: calc(15px + 0.2vw);
}
.products-list .product .filler {
  flex: 1 2 auto;
}
.products-list .product .product-btn {
  visibility: hidden;
  display: flex;
  width: 80%;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  font-size: calc(16px + 0.2vw);
  font-weight: 580;
  border-radius: calc(2px + 0.2vw);
  padding: calc(4px + 0.2vw) 0;
  margin-bottom: calc(4px + 0.2vw);
  background-color: #F0C900;
  color: #0F0F0F;
  box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px, rgba(0, 0, 0, 0.23) 0 4px 4px;
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 300ms linear 250ms, transform 280ms ease-in 100ms;
}
.products-list .product:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}
.products-list .product:hover .product-btn {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
